$text-color: #1B1C21;
$other-text-color: #FFFFFF;
$unactive-text-color: #7E7E82;
$footer-text-color: #7E7E82;
$popup-a-color: #FF3E79;
$input-text-color: #B5B6BC;

$header-bg-color: #FFFFFF;
$bg-color: #F8F8F8;
$contrast-bg-color: #FFFFFF;
$button-bg-color: #FF3E79;
$popup-bg-color: #FFFFFF;

$divider-color: #EAEAEA;
$item-border-color: #EAEAEA;
$link-border-color: #B8FFEC;
$title-left-border-color: #41F6D7;