.services__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
}

.services__logo {
    max-width: 128px;
}