.swiper {
    --swiper-pagination-bullet-inactive-color: #DDDDDD;
    --swiper-pagination-color: #B5B6BC;
    --swiper-pagination-bullet-size: 12px;
}

.swiper-pagination {
    position: static !important;
}

.services .swiper-slide,  .repair .swiper-slide {
    width: 224px;
    margin-right: 4%;
}

.prices .swiper-slide {
    width: 260px;
    margin-right: 4%;
}