.swiper {
    --swiper-pagination-bullet-inactive-color: #DDDDDD;
    --swiper-pagination-color: #B5B6BC;
    --swiper-pagination-bullet-size: 12px;
}

.swiper-pagination {
    position: static !important;
}